@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    width: 90%;
    margin: auto;
}

img {
    display: block;
    width: 100%;
}

h1,
h2,
h3,
p,
span {
    font-family: 'Rubik', sans-serif;
}